body{
  font-family: Arial,sans-serif;
  width: 100%;
  height: 100%;
  font-size: 150%;
  color: white;
  line-height: 1.166; 
  margin: 0px;
  padding: 0px;
}

div.background {
  background-image: linear-gradient(#020260, #0406FF);
  width: 100%;
  height: 100vh;
}


a{
  color: #006699;
  text-decoration: none;
}

a:link{
  color: #006699;
  text-decoration: none;
}

a:visited{
  color: #006699;
  text-decoration: none;
}

a:hover{
  color: #006699;
  text-decoration: underline;
}

h1 {
 font-family:  'Berkshire Swash', cursive;
 font-size: 500%;
 color: white;
 margin: 0px;
 padding-top: 25vh;
 text-align: center;
}

p {
  padding: 10vh 10vw;
}
